@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


/* NAV__SECTION */

header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 24px 170px;
}

.nav__list{
  width: 497px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav__item{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.nav__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  width: 189px;
  height: 47px;
  border-radius: 8px;
}

.nav__btn a{
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}






/* HEADER SECTION */

.header__section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0EB4C1;
  height: 533px;
}

.header__section-text{
  display: flex;
  flex-direction: column;
}

.header__text-title{
  width: 650px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #FFFFFF;
}

.header__text-subtitle{
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 27px;
  color: #FFFFFF;
}

.header__text-btn{
  width: 189px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  margin-top: 36px;
}

.header__section-img{
  margin-top: 2.1rem;
  margin-left: 6.5rem;
}





/* FIRST SECTION */


.first__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.first__section-title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.first__section-box{
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.box__text{
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 24px;
}

.text__title{
  font-size: 24px;
  font-weight: 700;
  color: #222222;
}

.text__subtitle{
  width: 550px;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  margin-top: 24px;
}

.wrapper__btn{
  text-decoration: none;
  background: #DE2E54;
  border: 2px #DE2E54;
  color: #fff;
  width: 189px;
  height: 47px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin-top: 60px;
}